.horizontal-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
}

.form-wrapper {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
}

.example-form, .example-full-width {
  width: 98%;
  margin-left: 8px;
}


.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.selected-row .mat-mdc-cell {
  border-color: currentColor;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.float {
  z-index: 5;
  position: fixed;
  display: flex;
  bottom: 10%;
  margin-bottom: 68px;
  left: 48%;
}
