# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
*/node_modules
**/node_modules
npm-debug.log
yarn-error.log
*/package-lock.json

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
*/.angular/cache
.sass-cache/
/connect.lock
**/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# Rasa files
/script-examples/rasa/venv
/script-examples/rasa/rasa-assistant

# Build files
*/dist-id.txt
*/dist-manifest.csv
*/dist-manifest.json

# Wallets
/wallet.json
/Marketplace.json
/Creator.json
/Curator.json
/Operator.json
/User.json

*/wallet.json
*/Marketplace.json
*/Creator.json
*/Curator.json
*/Operator.json
*/User.json

**/wallet.json
**/Marketplace.json
**/Creator.json
**/Curator.json
**/Operator.json
**/User.json
