@import url('https://fonts.cdnfonts.com/css/satoshi');

#root {
  box-sizing: border-box;

  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 36px;
}

.navbar {
  /* height: 367px; */
  left: 667px;
  top: 100px;
  border-radius: 5px;
}

.navbar-content {
  /* Property 1=Chat */
  position: absolute;
  height: 107px;
  left: 20px;
  top: 22px;
}

.navbar-links {
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;

  color: #E3E3E3;
}

.navbar-links.active {
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

  color: #E3E3E3;
}

.navbar-right-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 34px;
}

.feature-cards-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 36px;
  flex-wrap: nowrap;
}

.ai-card-content {
  width: 301px;
  height: 74.46px;
}

.filter-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px 20px 30px 20px;
  gap: 21px;
}

.text {
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 41px;
  /* identical to box height */
  color: linear-gradient(
    101.22deg,
    rgba(14, 255, 168, 0.58) 30.84%,
    #9747FF 55.47%,
    rgba(84, 81, 228, 0) 78.13%
  ),

}

.trending-text.highlight {
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 41px;
  /* identical to box height */
  border-bottom: 6px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(104.46deg, rgba(14, 255, 168, 0.58) -238.05%, #9747FF 301.04%, rgba(84, 81, 228, 0) 797.01%);

  color: #F4F4F4;
}


.trending-text {
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 41px;
  /* identical to box height */
  color: #6C6C6C;;
}