/* @import url('https://fonts.cdnfonts.com/css/satoshi'); */

@font-face {
  font-family: satoshi;
  font-style: normal;
  font-weight: 400;
  src: local('Satoshi'), url('../assets/fonts/Satoshi-Regular.woff') format('woff');
}
@font-face {
  font-family: satoshi;
  font-style: normal;
  font-weight: 300;
  src: local('Satoshi'), url('../assets/fonts/Satoshi-Light.woff') format('woff');
}
@font-face {
  font-family: satoshi;
  font-style: normal;
  font-weight: 500;
  src: local('Satoshi'), url('../assets/fonts/Satoshi-Medium.woff') format('woff');
}
@font-face {
  font-family: satoshi;
  font-style: normal;
  font-weight: 700;
  src: local('Satoshi'), url('../assets/fonts/Satoshi-Bold.woff') format('woff');
}

#root {
  box-sizing: border-box;

  position: relative;
  border-radius: 36px;
}

.navbar {
  left: 667px;
  top: 100px;
  border-radius: 5px;
}

.navbar-content {
  position: absolute;
  height: 107px;
  left: 20px;
  top: 22px;
}

.navbar-links.active {
  font-family: Satoshi, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.navbar-right-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
}

.feature-cards-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0px;
  gap: 36px;
  flex-wrap: nowrap;
}

.ai-card-content {
  width: 301px;
  height: 74.46px;
}

.filter-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px 20px 30px 20px;
  gap: 21px;
}

.text {
  font-family: Satoshi, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 41px;
  /* identical to box height */
  color: linear-gradient(
    101.22deg,
    rgba(14, 255, 168, 0.58) 30.84%,
    #9747ff 55.47%,
    rgba(84, 81, 228, 0) 78.13%
  );
}

.underline {
  background: linear-gradient(-45deg, #31ab7f50, #422d5c50, #a1205d50, #00000000);
  background-size: 600%;
  animation: anime 16s linear infinite;
}

h1 {
  font-size: 24px !important;
  font-weight: 700 !important;
  padding: 10px 0px;
}

h2 {
  font-size: 20px !important;
  font-weight: 700 !important;
  padding: 10px 0px;
}

h3 {
  font-size: 18px !important;
  font-weight: 700 !important;
  padding: 5px 0px;
}

h4 {
  font-size: 16px !important;
  font-weight: 500 !important;
  padding: 5px 0px;
}

h5 {
  font-size: 14px !important;
  font-weight: 500 !important;
}

h6 {
  font-size: 14px !important;
  font-weight: 200 !important;
}

@keyframes anime {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes fadeInSlideDown {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInSlideUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInSlideRight {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInSlideLeft {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInScaleIn {
  0% {
    opacity: 0;
    transform: scale(0.92);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.img-gradient::after {
  background: linear-gradient(to bottom, #000000 10%, rgba(71, 71, 71, 0) 100%);
  border-radius: 23px;
}

.primary-text-color {
  color: #3aaaaa;
}

.animate-slide-down {
  opacity: 0;
  animation: 0.4s fadeInSlideDown ease forwards;
}

.animate-slide-up {
  opacity: 0;
  animation: 0.4s fadeInSlideUp ease forwards;
}

.animate-slide-right {
  opacity: 0;
  animation: 0.4s fadeInSlideRight ease forwards;
}

.animate-slide-left {
  opacity: 0;
  animation: 0.4s fadeInSlideLeft ease forwards;
}

.animate-scale-in {
  opacity: 0;
  animation: 0.4s fadeInScaleIn ease forwards;
}

.animation-delay-100ms {
  animation-delay: 100ms;
}

.animation-delay-200ms {
  animation-delay: 200ms;
}

.animation-delay-300ms {
  animation-delay: 300ms;
}
