<mat-grid-list cols="12" gutterSize="10px" rowHeight="500px">
  <mat-grid-tile colspan="3">
    <mat-list>
      <mat-list-item>
        <h3 matListItemTitle>Iteraction</h3>
        <p matListItemLine>{{x | date}}</p>
        <p matListItemLine class="demo-2">some description</p>
      </mat-list-item>
      <mat-list-item>
        <h3 matListItemTitle>Iteraction</h3>
        <p matListItemLine>{{x | date}}</p>
        <p matListItemLine class="demo-2">some description</p>
      </mat-list-item>
      <mat-list-item>
        <h3 matListItemTitle>Iteraction</h3>
        <p matListItemLine>{{x | date}}</p>
        <p matListItemLine class="demo-2">some description</p>
      </mat-list-item>
      <mat-list-item>
        <h3 matListItemTitle>Iteraction</h3>
        <p matListItemLine>{{x | date}}</p>
        <p matListItemLine class="demo-2">some description</p>
      </mat-list-item>
      <mat-list-item>
        <h3 matListItemTitle>Iteraction</h3>
        <p matListItemLine>{{x | date}}</p>
        <p matListItemLine class="demo-2">some description</p>
      </mat-list-item>
    </mat-list>
  </mat-grid-tile>
</mat-grid-list>
